<div class="entry">
 	<p>updates the backbone model without need for refresh...type below</p>
	<input rv-value="model.name"  type="text">
	<p rv-text="model.name"></p>
	<span>count:</span>
	<span rv-text="model.count"></span>
 	<button id="counter"></div>
</div>