/**
 * @license
 * MyFonts Webfont Build ID 2804387, 2014-05-01T06:54:56-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Baskerville Roman by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/baskerville/roman/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 100,000
 *
 * Webfont: Baskerville Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/baskerville/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 100,000
 *
 * Webfont: Trade Gothic Pro Bold Condensed #20 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-condensed-20/
 * Copyright: Copyright &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Trade Gothic is either a registered trademark
 * Licensed pageviews: 750,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2804387
 *
 * © 2014 MyFonts Inc
*/

//@import url("//hello.myfonts.net/count/2acaa3");

/* @font-face {
  font-family: 'ProximaNova-ExtraBold';
  src: url('../font/ProximaNova-Extrabld.etf');
  src: url('../font/ProximaNova-Extrabld.etf#iefixy9ds26') format('embedded-opentype'),
       url('../font/ProximaNova-Extrabld.woff') format('woff'),
       url('../font/ProximaNova-Extrabld.ttf') format('truetype');
} */

